<div class="option-selector">
    <div class="option-group">
        <h3 class="option-group__title">front salto's:</h3>
        <div class="option-group__grid">
            @for (option of frontOptions(); track option.id) {
            <button type="button" class="option-btn" [class.option-btn--selected]="option.id === selectedOptionId()"
                (click)="onSelect(option.id)">
                {{ option.label }}
            </button>
            }
        </div>
    </div>
    <div class="option-group">
        <h3 class="option-group__title">back salto's:</h3>
        <div class="option-group__grid">
            @for (option of backOptions(); track option.id) {
            <button type="button" class="option-btn" [class.option-btn--selected]="option.id === selectedOptionId()"
                (click)="onSelect(option.id)">
                {{ option.label }}
            </button>
            }
        </div>
    </div>
    <div class="option-group">
        <h3 class="option-group__title">Other:</h3>
        <div class="option-group__grid">
            @for (option of otherOptions(); track option.id) {
            <button type="button" class="option-btn" [class.option-btn--selected]="option.id === selectedOptionId()"
                (click)="onSelect(option.id)">
                {{ option.label }}
            </button>
            }
        </div>
    </div>
</div>